body {
    background-color: hsl(212, 45%, 89%); 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.qrcard {
  text-align: center;
  border-radius: 15px;
  width: 300px;
  padding: 15px;
  background-color: white;
  font-size: 15px;
  font-family: 'Outfit';
  padding-bottom: 30px;
}

.qrcard img { 
    width: 300px; 
    border-radius: 15px;
}

.qrcard p {
    color: hsl(220, 15%, 55%);
}

.text {
  padding-right: 20px;
  padding-left: 20px;
}